<div class="card">
  <div class="card-header">
   <h1>About Us</h1>
  </div>
  <div class="card-body">
    <p class="card-text">A Very Basic Friends App created with Ruby on Rails to Learn the Framework</p>
  </div>
</div>
